@charset "utf-8";

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma";

.panel-heading img {
    max-height: 4rem;
}

.pre {
    overflow: visible;
    white-space: pre-wrap;
}

.panel-block>.field {
    flex-grow:1;
    flex-shrink:1;
    width:100%
   }
